# Configuración para Docker Compose
DB_PASSWORD=admin123
DB_NAME=jeema_platform_db
DB_HOST=localhost
DB_PORT=5430
DB_USER=edyof_user

# Conexión a la base de datos
DATABASE_URL=postgresql://jeema_user:admin123@localhost:5430/jeema_platform_db

JWT_SECRET=MiClaveSuperMegaSecretaYCompleja12345

PORT=3000